*{
    margin-left: 0px;
    margin-top: 0px;
    

}

#res{
    text-align: center;
    margin: 8%;
    font-size: 20px;
}
h1{
  
    border-radius: 5px;
    margin-top: 3%;
   margin-left:15% ;
   margin-bottom:3% ;
}
header{
    padding: 8px;
    background-color: rgb(28, 39, 60);
    width: 100%;
    height: 120px;
    box-shadow: 5px 5px 5px black;
}

main{
   margin-left: 4%;
text-align: center;
    width: 90%;
    height: auto;
    padding: 15px;
    background-color: #bbbbbb;
    box-shadow:0.1px 0.1px 1.7px black;
}
body{
    background-color: #8a8888;
}
#home{
    font-size: 25px;
    font-weight: 100;
    display: block;
   text-align: center;
    color: rgb(195, 196, 223);
  
   
    
}
p{
    margin-left: 10%;
}
#r{
    margin-left:0%;
    font-family: Verdana, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#home:hover{
    background-color: rgba(56, 56, 56, 0.336);

    margin-left: 35%;
    width: 20%;
    
   height: 30px;
}
footer{
    margin-top: 40px;
    
}
#nav2{

   margin-top: 20px;
    margin-left:  47%;
}
#pgs{
    margin-right: 2%;
}